sv_hostname "[FR] WL Only RP | ❗ Sérieux ❗ | 🚗 Réaliste Car 🚗 | 💵 Réaliste Economie 💵| 🌠 FPS Inédit 🌠"
rcon_password ""
sv_maxclients 64
endpoint_add_udp "0.0.0.0:30120"
endpoint_add_tcp "0.0.0.0:30120"
# Touchez à ses 2 lignes uniquement si vous hébergez votre serveur sur un hébergeur !

# BDD
set mysql_connection_string "server=localhost;database=only;userid=root;password="
set sv_enforceGameBuild 2612
#set mysql_slow_query_warning 500
exec @pmms/permissions.cfg #tvcar
######################## DEMMARAGE RESSOURCE #####################################################################################################################
## [txAdmin CFG validator]: you MUST NOT start/stop/ensure txadmin resources.
## [txAdmin CFG validator]: you MUST NOT start/stop/ensure txadmin resources.

set onesync on
set onesync_enabledInfinty 1
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync legacy
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.

ensure SeaShield

##### Voix #####
ensure pma-voice

##### Libs #####
ensure oxmysql
ensure async

##### Admin #####
ensure vSync
ensure FiveM-BanSql

##### Default #####
ensure yarn
ensure webpack
ensure mapmanager
ensure chatheme
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure baseevents
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure lslife_ui
ensure pogressBar

##### Essential #####
ensure cron
ensure es_extended
ensure PvP

##### ESX #####
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
# ensure esx_skin
# ensure esx_society
ensure esx_identity
ensure skinchanger
ensure esx_status
ensure esx_basicneeds
ensure shop
ensure PolyZone
ensure ZmainUI
ensure ZmainDev
ensure ZmainInventory


##### F5 #####
ensure c_inventaire
ensure esx_billing
ensure esx_givecarkeys
ensure porter #/porter
# ensure rgz_menu
# ensure sp_menuperso
ensure TakeHostage #prendreotage
ensure coord
ensure esx_license

##### HuD #####
# ensure speedometer2
# ensure seatbelt #ceinture
ensure loadingscreen #ecran_chargement
#ensure toxicloading
ensure screenshot-basic
# ensure zzHud
ensure zonesafe
#ensure hud_wanted
ensure hud
ensure zConnect

##### Car #####
ensure Utops_vehicle_inventory #coffre_voiture
ensure SmartTrafficLights #jsp
ensure simpledrift #drift
#ensure MXXR_Garage #garage
#ensure accidenteffect #effet_accident
ensure LegacyFuel #essence
ensure mLocation #location_aeroport
ensure mLocation2 #location_hopital
ensure mLocation3 #location_prison
ensure biketricks #trick_moto
ensure changeseat #change_place
ensure HideInTrunk #monter_dans_coffre
ensure esx_vehiclepush #pousser_voituremorte

##### Non-esx ########n
ensure blips #blips_ajout
ensure jumelles #jumelles
ensure jsfour-idcard #identite
ensure y_autoecole #auto_ecole
ensure NativeUI #Menu
#ensure dpr_Garage #garage
#ensure BS_Farms-Builder #circuit_farm_job
ensure 3dme #/me
ensure MD_core #regarde_dedans_bouffon
ensure MusicEverywhere #music_voiture_ _bar
ensure HideInTrunk #monter_dans_coffre
ensure xsounds #music_voiture_ _bar
ensure pNotify #notif
ensure jcore #regarde_dedans_bouffon
ensure MXXR_DoorLock #porte
ensure Server_setting #pnjtraffic etc...
#ensure dpr_Fishing #peche
ensure dpr_Meteo #menu_meteo
ensure notif #ano/twt etc...
ensure esx_jailer #jail
ensure announce #annonce
ensure bulletin #notiftheme
ensure esx_piluleoubli #pilule de l'oubli
# ensure cxJail #jail
ensure driverschool #autoecole
########## AUTOECOLE ##########
ensure rxAutoEcole #autoecole
ensure rxAutoEcole_map #autoecole

##### JOBS #####
#-----lspd-----#
ensure esx_outlawalert
ensure interact
#ensure kMegaphone
#-----PoleEmploie-----#
#ensure rs_prog
#ensure prl_civilJobs
#-----Mecano-----#*
ensure MXXR_LsCustom
#ensure MXXR_Mecano
#-----EMS-----#
# ensure stretcher
ensure VoitureHopital
ensure dodgeems
ensure ghispo3
#-----Concess-----#
ensure MXXR_catalogue #catalogue
#-----Agent-Immo-----#
ensure instance #necessaire_pour_IMMO/PROPERTY

####### Illegal #######
ensure esx_braquageBijoux #braquage_bijou_ _revendeur
ensure esx_drugeffects #effet_drogue
ensure esx_holdupbank #braquage_banque
ensure esx_teleports #point_de_teleports
ensure loffe_robbery #braquage_superette
#ensure MXXR_SellDrugs #vente drogue

##### Mapping #####
ensure 3D_FreeHood
ensure advClothes
#--------------------GABZ---------------------#
ensure cfx-gabz-mapdata         #*THIS RESOURCE IS REQUIRED FOR ALL RESOURCES TO WORK. IT MUST BE STARTED FIRST*
ensure cfx-gabz-scenarios       #*THIS RESOURCE IS OPTIONAL, IT REMOVES CONFLICTING PEDS SPAWNS*
ensure cfx-gabz-pdprops         #*THIS RESOURCE IS REQUIRED IF YOU USE ANY PD. IT MUST BE START BEFORE PD'S*
ensure cfx-gabz-247             #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
ensure cfx-gabz-altruists
ensure cfx-gabz-ammunation
ensure cfx-gabz-arcade
ensure cfx-gabz-atom
ensure cfx-gabz-aztecas
ensure cfx-gabz-bahama
ensure cfx-gabz-ballas
ensure cfx-gabz-barber
ensure cfx-gabz-beanmachine
ensure cfx-gabz-bennys
ensure cfx-gabz-binco
ensure cfx-gabz-bobcat
ensure cfx-gabz-bowling
ensure cfx-gabz-carmeet
ensure cfx-gabz-casino
ensure cfx-gabz-catcafe
#ensure cfx-gabz-davispd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-diner
ensure cfx-gabz-esbltd
ensure cfx-gabz-families
#ensure cfx-gabz-firedept
ensure cfx-gabz-fleeca
#ensure cfx-gabz-harmony
ensure cfx-gabz-haters
#ensure cfx-gabz-hayes
ensure cfx-gabz-hornys
ensure cfx-gabz-import
ensure cfx-gabz-impound
ensure cfx-gabz-lamesapd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-lost
ensure cfx-gabz-lostsc
ensure cfx-gabz-lscustoms
ensure cfx-gabz-marabunta
ensure cfx-gabz-mba
ensure cfx-gabz-mirrorpark1
ensure cfx-gabz-mirrorpark2
#ensure cfx-gabz-mrpd
ensure cfx-gabz-ottos
ensure cfx-gabz-pacificbank     #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-paletobank
ensure cfx-gabz-paletocamp
ensure cfx-gabz-paletoliquor
ensure cfx-gabz-paletopd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-parkranger
#ensure cfx-gabz-pdm
#ensure cfx-gabz-pillbox
ensure cfx-gabz-pinkcage
ensure cfx-gabz-pizzeria        #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
ensure cfx-gabz-ponsonbys
ensure cfx-gabz-prison
ensure cfx-gabz-records
ensure cfx-gabz-sandypd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-studio
ensure cfx-gabz-suburban
ensure cfx-gabz-tattoo
ensure cfx-gabz-townhall        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-triads
ensure cfx-gabz-tuners
ensure cfx-gabz-vagos
ensure cfx-gabz-vbmarket
ensure cfx-gabz-vu
ensure cfx-gabz-weedcamp
ensure cfx-gabz-yachts
-----------------------------------------------
ensure lafa2k_finalfantasyxv
ensure events_plage
ensure patoche_secret_bossroom
ensure patoche_cyberbar_map
ensure bloods
ensure online-interiors
#ensure casino #sousterrainVDA
#ensure Penthouse
#ensure Malibu
ensure rtxbunker
ensure Mansion_02_Brofx_10
ensure patoche_halloween_house
ensure adrian_mlo
ensure as_tequilala
#--------------------gang---------------------#
#ensure bloodsv2 #mapping bloods
ensure ed_chilliadtorture
#ensure cartelvilla
ensure mafiahouse
ensure ballas1
ensure BallasExtra
#ensure Fuente_Blanca
ensure ranch
#----------------------------------------------#
ensure smart_bunker #epicicerie avec sous-sol
#ensure ParkingCentral #parking central
ensure mountzonah_lift #ems_V2
ensure carpack_floor #ems_V2
ensure gta_props_fivem #ems_V2
ensure mz_addons #ems_V2
ensure operation_floor #ems_V2
ensure urgence_floor #ems_V2
ensure room_floor #ems_V2
ensure supermarche #supermarche
ensure tacoshopv3 #tacos
ensure vigneron_mapping #mapping vigneron
ensure tabac #mapping tabac
# ensure ForestsOfSA #forest
#ensure tgm_legion #mapping central_Cube
ensure apple_store #applestore
#ensure parkingcentral #parking central sup
ensure vespucci #comico_vespucci
ensure eglise #eglise
ensure lsc #mapping_LScustom
ensure luxusdealer #luxuryauto
ensure boatdealer #luxurybateau
ensure zhouse
ensure vshouse
ensure qua_lakehouses
ensure Cayo_Load
#ensure uj_cayoPerico
#ensure uj_cayoLoader

##### Phone #####
ensure xsound #phone
ensure loaf_lib

##### SHOP #####
ensure sk-shop #superette_shop
ensure cClothes #magazin_vetement
ensure esx_tattooshop #tattoo_salon
ensure armurie #armurie
ensure IphoneShop #apple_store
ensure xed_shop #supermarch�
ensure bob74_ipl

##### Vetement #####
#ensure sClothesV9
# ensure WC_ClothingPack
# ensure BC_Vests_Nice
#ensure eup-stream
#ensure eup-ui

# ##### Vehicule #####
#ensure C-Pack #voiture_replace
ensure core_moto #moto
ensure corevoiturecivil
#----- AUDI -----#
ensure 2015a3
ensure a8audi
ensure a6
ensure q820
ensure r8ppi
ensure rs52018
ensure 21avant
ensure rs6c8
ensure rs7
ensure rs318
ensure sq72016
#----- BATEAU -----#
ensure amels200
ensure sr650fly
#----- TOYOTA -----#
ensure lc200
ensure camry55
ensure priustaxi
ensure gt86
#----- BMW -----#
ensure x6m
ensure bmci
ensure 17m760i
ensure bmwm8
ensure x5e53
ensure bmwe38
ensure m3e30
ensure e36
#----- CITROEN -----#
ensure c2vtr
ensure citroc4
ensure ds4
ensure ds7
#----- PEUGEOT -----#
ensure 208
#----- MERCEDES -----#
ensure 600sel
ensure amggt
ensure c63coupe
ensure gl63
ensure mb18
ensure mers63c
ensure s500w222
ensure vclass
ensure sprinter211
ensure gxa45
ensure a45
ensure brabusg700
ensure c63
ensure amg63
#----- RENAULT -----#
ensure espace3
ensure kangoo
ensure master2019
ensure capi20
#----- ASTON-MARTIN -----#
ensure ast
#----- BENTLEY -----#
ensure bbentayga
ensure ben17
ensure bentaygast
#----- CADILLAC -----#
ensure ct5v
ensure ctsv16
ensure gmt900escalade
#----- CHEVROLET -----#
ensure tahoe
ensure zl12017
#----- DODGE -----#
ensure 16charger
ensure dodgert70
ensure chargerf8
#----- FERRARI -----#
ensure roma20
ensure gto
ensure gtcl
ensure f812
ensure fct 
ensure f430s
#----- FIAT -----#
ensure 500lGM
ensure multipla
#----- FORD -----#
ensure 95stang
ensure 19raptor
ensure wildtrack
ensure velociraptor
#----- JAGUAR -----#
ensure fpace
ensure ftype
ensure xfr
ensure xj
#----- LAMBORGHINI -----#
#----- LAND-ROVER -----#
ensure 18Velar
#----- LEXUS -----#
ensure shonen
#----- MASERATI -----#
ensure levante
ensure mgrantur2010
#----- MINI -----#
ensure cooperworks
#----- NISSAN -----#
ensure 180sx
ensure gtr
ensure qashqai16
ensure skyline
#----- ENFANT -----#
ensure rcmcqueen
ensure vetog
ensure vetok
#----- PORSCHE -----#
ensure 911tbs
ensure panamera17turbo
ensure pcs18
#----- ROLLS-ROYCE -----#
#----- TESLA -----#
ensure teslax
ensure tr22
#----- VOLVO -----#
ensure s60pole
#----- AVION -----#
ensure a350
ensure airfrance
ensure a10c
ensure f22a
ensure hornet
ensure spitfire
ensure su30mkk
#----- GOUV -----#
ensure marine
ensure pres2
ensure president
#----- MUSTANG -----#
ensure rmodmustang
#----- VOLKSWAGEN -----#
ensure mk7
#----- LSPD -----#
ensure carpack_LSPD #voiture_lspd
#ensure policeb2
ensure iplspd
ensure sheriffcar
ensure bmwsheriff
ensure helisheriff
#ensure buffalo
#ensure lazer_game
#----- GOUV -----#
ensure ve_usss
ensure limousinegouv

###### Menu ######
ensure Dpemote #menuadmin
ensure tempui
ensure dpclothing

#########Discord##########
#ensure Discord_Whitelist
#ensure discord_perms
#ensure DiscordBot
ensure RichPresence #bot_bio_discord
ensure FiveMLogs #discord_logs
ensure WatchPlay

##### Arme #####
ensure arme_son #arme_son
ensure silah #arme_replace(police : glok17,m4,tazer)
ensure sac #sac_obligatoire_armes
#ensure animation_arme #animation_arme
ensure esx_clip #chargeur
ensure weapon_switch_anim #anim_arme

ensure InteractSound
ensure lb-phoneprop
ensure lb-phone

ensure b2k-minimap

ensure eKevlar
ensure map-atlas

###############################################################################################################################################################################
###############################################################################################################################################################################
###############################################################################################################################################################################
######################################################### DONT TOUCH #########################################################
sv_scriptHookAllowed 0
set es_enableCustomData 1

######################################################### GANG #########################################################
add_ace resource.gang command.add_ace allow

######################################################### CONFIG #########################################################
sets tags "roleplay, only, rp, freeacces, whitelist, francais, serieux, realiste, inedit, only rp, economie, police, lspd, gang, scene, realiste car, roleplay, only, rp, francais, serieux, realiste, only rp, economie, police, lspd, gang, scene, realiste car, realiste, serieux, serieux"
sets locale "fr-FR" 
sets banner_detail "https://cdn.discordapp.com/attachments/1085637890228371596/1098027667724439572/standard_3.gif" # Envoyez une bannière sur un groupe ou en pv sur discord et faite clique droit, copier le lien, et mettez le ici !
sets banner_connecting "https://cdn.discordapp.com/attachments/1085637890228371596/1098027667724439572/standard_3.gif"
load_server_icon "myLogo.png"
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync legacy
set sv_listingIPOverride ""
# Hides player IP addresses from /players.json
sv_endpointprivacy true
sets sv_projectName "[FR] Only RP | ❗ Sérieux ❗ | 🚗 Réaliste Car 🚗 | 💵 Réaliste Economie 💵| 🌠 FPS Inédit 🌠"
sets sv_projectDesc "Ville S�rieuse | Voiture R�aliste | R�aliste Economie | FPS In�dit"
set sv_requestParanoia 3
# setr voice_use3dAudio true
# setr voice_useSendingRangeOnly true
set sv_licenseKey 
set steam_webApiKey ""
voice_enableUi 1
voice_enableProximityCycle 1
voice_defaultCycle F2
voice_defaultVoiceMode 2

######################################################### ADMIN (Dont Touch) #########################################################
add_principal group.modo group.admin
add_principal group.admin group.modo
add_principal group.superadmin group.admin
add_principal group.responsable group.admin
add_principal group.developper group.admin
add_principal group._dev group.admin
add_principal group.fondateur group.admin
# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit